.home {
  padding: 90px 0 120px 0;
  min-height: 100%;
  background: #F6F7FB;
}
.home_head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 90px;
  line-height: 90px;
  background: #F6F7FB;
  box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
}
.head_left,
.head_right {
  flex-shrink: 0;
  font-size: 36px;
  font-weight: 600;
  width: 12%;
  text-align: center;
}
.head_center {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 22px;
}
.head_center div {
  position: relative;
  margin: 0 20px;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.active {
  color: #ed9063;
}
.head_right {
  color: #F6F7FB;
}

.home_foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_body {
  padding:  30px;
}
.home_life {
  padding: 120px 0 0 0;
  font-size: 66px;
  font-weight: 600;
  text-align: center;
}
.body_index_item {
  margin-top: 40px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  background: #fff;
}
.body_item_left,
.body_item_right {
  width: 50%;
}
.body_item_left {
  text-align: center;
 }
.body_item_left h5 {
  font-size: 26px;
  font-weight: 600;
  
}
.body_item_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body_item_right img {
  width: 80%;
}
.home_nxl_item p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_nxl_item p .manage_system {
  text-decoration: underline;
  cursor: pointer;
}
.manage_system:hover {
  color: #ed9063;
}
.nxl_item_icon {
  cursor: pointer;
}
.home_foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #F6F7FB;
  z-index: 1;
  box-shadow: 0 -2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
}
